* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    padding: 30px;
}
.container h1 {
    text-align: center;
}
.container .floating {
    width: 30%;
    height: auto;
    background-color: #ffc7bb;
    border: 2px solid #000;
    float: left;
    margin: 10px;
    margin-top: 20px;
}
.container .floating h2 {
    width: 145px;
    height: auto;
    border: 1px solid #000;
    text-align: center;
    text-transform: capitalize;
    float: right;
    margin-bottom: 5px;
}
.container .floating .html {
    background-color: aqua;
}
.container .floating .css {
    background-color: rgb(240, 42, 213);
    color: #fff;
}
.container .floating .js {
    background-color: rgb(248, 201, 46);
}
.container .floating p {
    clear: both;
    padding: 10px;
}
@media (min-width: 992px) {
    .container .floating {
        width: 31.5%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .container .cl-1, .container .cl-2 {
        width: 47%;
    }
    .container .cl-3 {
        width: 96.5%;
    }
}
@media (max-width: 767px) {
    .container .floating {
        width: 100%;
    }
}